.container {
    min-height: 500px;
    position: relative;
}

.stain {
    background-color: rgba(13, 80, 255, .3);
    border-radius: 100%;
    width: 140px;
    height: 130px;
    filter: blur(100px);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.backdrop {
    background-color: rgba(13, 80, 255, .2);
    border-radius: 100%;
    width: 110px;
    height: 110px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: 1s ease-in-out infinite alternate pulsate;
}

.logo {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: 1.02s ease-in-out infinite alternate-reverse pulsate;
}

@keyframes pulsate {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0.85;
    }
}